.icon-button {
    border: none;
    outline: none;
    background-color: var(--beige-400);
    padding: var(--space-sm);
    border-radius: 50%;
    transition: all ease 0.3s;
    border: solid 6px transparent;

    &:hover {
        cursor: pointer;
        background-color: var(--beige-500);
        border: solid 6px var(--beige-400);
    }

    img {
        width: 20px;
        height: 20px;
    }
}
